# IDEs e editores
.idea/
.vscode/
*.swp
*.swo
*~

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/
mosquitto/log/

# Bancos de dados
*.db
*.sqlite3
Server/data/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos do sistema
.DS_Store
Thumbs.db 